In [1]:
import pandas as pd

# Links

In [2]:
link_crsp_ibes = pd.read_csv('raw_data_2/CRSP_IBES_link_table.csv')
link_crsp_ibes.head()

     TICKER   PERMNO    NCUSIP      sdate      edate  SCORE
0      00VP  15703.0  32008D10  19NOV2015  30DEC2016      1
1      01AB  16342.0  G0084W10  17NOV2016  30DEC2016      1
2      01AF  16347.0  01387210  17NOV2016  30DEC2016      1
3        AA  24643.0  02224910  15JAN1976  03JAN1999      1
4        AA  24643.0  01381710  14JAN1999  05OCT2016      1
...     ...      ...       ...        ...        ...    ...
2499    ZMH  89070.0  98956P10  16AUG2001  30DEC2016      1
2500   ZOTS  13788.0  98978V10  14MAR2013  30DEC2016      1
2501    ZRN  45970.0  98982410  19JAN1978  11JUN1998      1
2502     ZY  40539.0  98919510  15DEC1977  20JUN1989      1
2503     ZY  40539.0  87254010  20JUL1989  30DEC2016      1

[2504 rows x 6 columns]

In [6]:
link_crsp_comp = pd.read_csv('raw_data_2/Compustat_CRSP_link_table.csv')
link_crsp_comp.head()

,gvkey,conm,tic,cusip,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT
0,1010,ACF INDUSTRIES HOLDING CORP,4165A,00099V004,C,00X,LU,10006,22156,19500501,19620130
1,1010,ACF INDUSTRIES HOLDING CORP,4165A,00099V004,P,01,LU,10006,22156,19620131,19840628
2,1013,ADC TELECOMMUNICATIONS INC,ADCT,000886309,P,01,LU,50906,2902,19790316,20101231
3,1040,AMF INC,AMF.2,001688100,P,01,LU,15763,22631,19620131,19851031
4,1040,AMF INC,AMF.2,001688100,C,00X,LU,15763,22631,19500101,19620130

# Compustat

In [3]:
cons = pd.read_csv('raw_data_2/cons_70_17.csv')
cons.head()

,gvkey,gvkeyx,from,thru,conm,tic,co_conm,co_tic,co_cusip
0,1078,3,19640331,NaN,S&P 500 Comp-Ltd,I0003,ABBOTT LABORATORIES,ABT,002824100
1,1300,3,19640331,NaN,S&P 500 Comp-Ltd,I0003,HONEYWELL INTERNATIONAL INC,HON,438516106
2,1440,3,19640331,NaN,S&P 500 Comp-Ltd,I0003,AMERICAN ELECTRIC POWER CO,AEP,025537101
3,2285,3,19640331,NaN,S&P 500 Comp-Ltd,I0003,BOEING CO,BA,097023105
4,2403,3,19640331,NaN,S&P 500 Comp-Ltd,I0003,BRISTOL-MYERS SQUIBB CO,BMY,110122108

# IBES

In [4]:
ibes_actuals = pd.read_csv('raw_data_2/actuals.csv')
ibes_actuals.head()

,TICKER,CUSIP,OFTIC,CNAME,PENDS,MEASURE,PDICITY,ANNDATS,ANNTIMS,ACTDATS,ACTTIMS,VALUE,CURR_ACT
0,A,02742010,A,AMERN MEDIC BLDG,19881231,EPS,QTR,19890401,0:00:00,19890401,0:00:00,0.07,USD
1,A,02742010,A,AMERN MEDIC BLDG,19890331,EPS,QTR,19890517,0:00:00,19890517,0:00:00,0.00,USD
2,A,02742010,A,AMERN MEDIC BLDG,19890630,EPS,QTR,19890816,0:00:00,19890816,0:00:00,-0.09,USD
3,A,02742010,A,AMERN MEDIC BLDG,19890930,EPS,QTR,19891114,0:00:00,19891114,0:00:00,0.00,USD
4,A,02742010,A,AMERN MEDIC BLDG,19891231,EPS,QTR,19900418,0:00:00,19900418,0:00:00,0.00,USD

In [5]:
ibes_estimates = pd.read_csv('raw_data_2/estimates.csv')
ibes_estimates.head()

,TICKER,CUSIP,OFTIC,CNAME,ACTDATS,ANALYS,FPI,MEASURE,VALUE,FPEDATS
0,AA,02224910,AA,ALCOA,19980709,478,6,EPS,0.675,19980930
1,AA,01381710,AA,ALCOA INC.,19990409,297,6,EPS,0.750,19990630
2,AA,01381710,AA,ALCOA INC.,19991011,56581,6,EPS,1.410,19991231
3,AA,01381710,AA,ALCOA INC.,20010212,610,6,EPS,1.320,20010331
4,AA,01381710,AA,ALCOA INC.,20011031,40316,6,EPS,1.050,20011231

# CRSP

In [8]:
comp = pd.read_csv('raw_data_2/crsp_sp500_1970_2016.csv')
comp.head()

/Users/Karl/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2,5,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,PERMNO,date,NCUSIP,TICKER,COMNAM,CUSIP,DIVAMT,BIDLO,ASKHI,PRC,VOL,RET,SHROUT,OPENPRC,NUMTRD,MKTCAP
0,10006,19700102,80010,ACF,A C F INDUSTRIES INC,80010,NaN,48.50,49.250,49.125,2000.0,0.002551,5641.0,NaN,NaN,NaN
1,10006,19700105,80010,ACF,A C F INDUSTRIES INC,80010,NaN,48.75,49.500,49.125,1700.0,0,5641.0,NaN,NaN,NaN
2,10006,19700106,80010,ACF,A C F INDUSTRIES INC,80010,NaN,48.75,49.375,49.125,2400.0,0,5641.0,NaN,NaN,NaN
3,10006,19700107,80010,ACF,A C F INDUSTRIES INC,80010,NaN,49.00,49.750,49.500,1800.0,0.007634,5641.0,NaN,NaN,NaN
4,10006,19700108,80010,ACF,A C F INDUSTRIES INC,80010,NaN,49.00,49.875,49.875,2100.0,0.007576,5641.0,NaN,NaN,NaN

# Merge