In [47]:
import pandas as pd
import numpy as np
import datetime as dt
from importlib import reload

import TSManager as ts

import matplotlib.pyplot as plt
%matplotlib inline

In [48]:
reload(ts)
mgr = ts.TSManager()

In [49]:
mgr.load()

Loading CPI
Loading NOS

In [50]:
mgr.data

                 CPI       NOS
AsOfDate
1990-06-08  0.046737  0.016941
1990-06-11  0.046737  0.016941
1990-06-12  0.046737  0.016941
1990-06-13  0.046737  0.016941
1990-06-14  0.046737  0.016941
...              ...       ...
2019-10-30       NaN       NaN
2019-10-31       NaN       NaN
2019-11-01       NaN       NaN
2019-11-04       NaN       NaN
2019-11-05       NaN       NaN

[7411 rows x 2 columns]